<div class="container mx-auto" style="background-color: #edc200;">
  <h1 class="d-flex justify-content-center">Eat-a-Burger</h1>
  <img
    src="https://images.unsplash.com/photo-1572802419224-296b0aeee0d9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1303&q=80"
    class="rounded mx-auto d-block" style="width: 350px; height: 300px" alt="Responsive image">
  <hr>
  <panel>
    <strong>Devour a fresh burger off our menu by selecting "Devour" or create a custom made burger below:</strong>
    <form action="/burgers/create" method="POST">
      <div class="form-group">
        <label for="newburger">Custom Burger Order:</label>
        <input type="text" id="enter_text" name="burger_name" value="">
        <button type="submit" class="btn btn-danger btn-sm" id="submitBurger">
          <span>Submit</span>
        </button>
      </div>
    </form>
  </panel>
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading" id="leftside">
          <strong><u>Order Menu:</u></strong>
        </div>
        <div class="panel-body">
          <ul>
            {{#each burger_data}}
            {{#unless this.devoured}}
            <span>
              {{this.id}}. {{this.burger_name}}
              <button type="button" class="devour btn btn-danger btn-sm" data-burgerid="{{this.id}}">Devour</button>
              <hr>
              {{/unless}}
              {{/each}}
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading" id="rightside"><strong>Burgers Ordered & Devoured:</strong>
        </div>
        <div class="panel-body">
          <ul>
            {{#each burger_data}}
            {{#if devoured}}
            <span>
              {{this.id}}. {{this.burger_name}}
            </span>
            <hr>
            {{/if}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--endrow -->
</div>
<!--endcontainer -->